/* Start Golbal Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;;
}
ul,ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
/* End Golbal Rules */
/* Start Variables */
:root {
    --main-color: #2196F3;
    --main-color-alt: #1787e0;
    --duration: 0.3s;
}
/* End Variables */
/* Start Components */

/* Container */
.container {
    margin: auto;
    padding: 0 15px;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Components */
/* Start Header */
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
}
.header .container > a {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .container > ul {
    display: flex;
}
.header .container > ul > li > a {
    height: 72px;
    padding: 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 18px;
    text-transform: capitalize;
    transition-duration: var(--duration);
    position: relative;
    overflow: hidden;
}
.header .container > ul > li > a:hover {
    color: var(--main-color);
}
.header .container > ul > li > a::before {
    content: '';
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    left: -100%;
    background-color: var(--main-color);
    transition-duration: var(--duration);
}
.header .container > ul > li > a:hover::before {
    left: 0;
}
@media (max-width:768px) {
    .header .container {
        flex-direction: column;
    }
    .header .container > a {
        height: 50px;
        width: 100%;
    }
    .header .container > ul > li > a {
        font-size: 14px;
        height: 40px;
        padding: 0 10px;
    }
}
/* Start Pop-window */
.header .container ul li:last-child .pop-window {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 30px;
    background-color: white;
    border-bottom: 3px solid var(--main-color);
    z-index: -1;
    display: flex;
    gap: 40px;
    top: calc(100% + 50px);
    opacity: 0;
    transition: top var(--duration), opacity var(--duration);
}
@media (max-width: 767px) {
    .header .container ul li:last-child .pop-window{
        flex-direction: column;
        gap: 0;
        padding: 5px;
    }
}
.header .container ul li:last-child:hover .pop-window {
    opacity: 1;
    z-index: 100;
    top: 100%;
}
.header .container ul li:last-child .pop-window .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .header .container ul li:last-child .pop-window .image {
        display: none;
    }
}
.header .container ul li:last-child .pop-window ul {
    min-width: 250px;
    flex: 1;
}
.header .container ul li:last-child .pop-window ul li:not(:last-child) {
    border-bottom: 1px solid #e6e9e9;
}
.header .container ul li:last-child .pop-window ul li {
    position: relative;
}
.header .container ul li:last-child .pop-window ul li::before {
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--duration);
}
.header .container ul li:last-child .pop-window ul li:hover::before {
    width: 100%;
}
.header .container ul li:last-child .pop-window ul li a {
    color: var(--main-color);
    display: block;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
}
.header .container ul li:last-child .pop-window ul li a i {
    margin-right: 10px;
}
/* End Pop-window */
/* End Header */


